{%extends "base.html"%} {%block title%} About{%endblock title%} {%block body%}
<div class="container-fluid px-0 mb-3">
  <img
    src="https://source.unsplash.com/1100x400/?software"
    class="d-block w-100 my-0"
    alt="..."
  />
</div>
<div class="container my-2 mx-0 px-0">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/images/about.png" class"d-block w-100" >
        <div class="card-body">
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-8 mx-0 px-0">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p style="text-align: justify; font-family: Cursive">
            Greetings! I'm Ali Murtaza, a Software Engineer based in Karachi,
            Pakistan, specializing in Salesforce implementation and JavaScript
            development. I obtained my Bachelor's degree in Computer Science
            from FAST-NUCES, where I was awarded the prestigious PMNICT
            Scholarship for my dedication to the field. My professional journey
            has been marked by a series of impactful projects and experiences,
            showcasing my expertise in the realm of software engineering and
            development. As a Salesforce Developer and Administrator, I have
            successfully designed and implemented customized CRM solutions,
            optimizing personal contacts and task management. My proficiency in
            Salesforce Lightning, Apex, Visualforce, and Workflow Automation has
            enabled me to streamline processes and enhance data accuracy.
            Furthermore, my role as a Freelance Salesforce Consultant has
            allowed me to collaborate closely with small businesses, integrating
            Salesforce into their existing workflows. Through meticulous data
            migration and the implementation of custom fields, I have
            contributed to reducing data entry errors and improving overall
            client management. Additionally, my experience as a Freelance
            Full-Stack Developer has involved crafting custom JavaScript
            applications tailored to specific business needs, showcasing my
            proficiency in technologies such as JavaScript, HTML, and CSS. In
            the course of my professional journey, I have actively participated
            in diverse projects, including the development of a Classroom
            Feedback System that leveraged machine learning algorithms for
            audience satisfaction analysis. I have also contributed to the
            implementation of data science techniques in the Medical Treatment
            project, utilizing Python for various machine learning algorithms. I
            possess a comprehensive skill set, including proficiency in
            languages such as Python, Java, C++, and Apex, and a strong grasp of
            various tools, platforms, and testing methodologies. My
            certifications in Salesforce and completion of professional
            development courses in JavaScript and Machine Learning reflect my
            commitment to continuous learning and growth in the ever-evolving
            field of technology. I invite you to explore my portfolio to gain
            deeper insights into my work and experiences. Should you have any
            queries or wish to collaborate, please feel free to reach out. I am
            eager to connect with like-minded professionals and organizations to
            embark on meaningful and impactful endeavors.
          </p>
          <div><a href="https://www.linkedin.com/in/ali-murtaza-290775b4/">LinkedIn</div>
        </div>
      </div>
    </div>
  </div>

  {%endblock body%}
</div>
